<!doctype html>
<html>
	<head>
		<title>OTP Verification</title>
	</head>
	<body>
		
		<p>Dear User,</p>
		<p>Your OTP has been verified successfully. </p>
			<p>Your registration Process is now complete.</p>
			<p>Please wait for your registration to be approved in the next 24 hours</p> 
		<p>Thank you for choosing Us!</p>
	</body>
</html>

